<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="static/dash.css">
        <title>
            {{user}}'s dashboard
        </title>
    </head>

    <body style="background-image: url('{{background}}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <a class="nav-link" href="/stopwatch">Stopwatch</a>
        <a class="logout" href="/logout">Logout</a>
        <h1>{{user}}'s Dashboard</h1>

        <div id="dashboard-container">
        </div>
        <script src='static/dash.js' defer></script>
    </body>
</html>