<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <title>
            Sign Up
        </title>
    </head>
    <body>
        <div class="authform">
            <form action="/signup" method="post">
                <input class="textfield" type="text" name="username" placeholder="Pick a username" required>
                <input class="textfield" type="password" name="password" placeholder="Pick a password" required>
                <div class="buttoncontainer">
                    <button class="actionbutton" type="submit"><b>Sign Up</b></button>
                </div>
            </form>
        </div>
    </body>
</html>