<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/stopwatch.css">
        <link rel="stylesheet" href="/static/popup.css">
        <title>
            {{user}}'s stopwatch
        </title>
    </head>
    <body>
        <a class="nav-link" id="dashboard-link" href="/dashboard">Dashboard</a>
        <a class="logout" href="/logout">Logout</a>
        <p id="stopwatch"><span class="glow-idle" id="stopwatch-text">0<span class="unit">h</span> 00<span class="unit">m</span> 00<span class="unit">s</span></span><span id="centi-secs">00</span></p>
        <a href='#' onclick="event.stopPropagation(); showSavePopup()" id="btn" style="display: none;">Send time to account >></a>
        <div id="save-time-popup" class="popup" style="display:none">
            <div class="popup-content">
                <label for="category-select">Choose a category: </label>
                <select id="category-select" onchange="loadSubcategories()">
                    <option value="">-- Select a Category --</option>
                </select>

                <label for="subcategory-select">Choose a subcategory / watch: </label>
                <select id="subcategory-select" onchange="loadWatches()" disabled>
                    <option value="">-- Select a Subcategory / Watch --</option>
                </select>

                <label for="watch-select">Choose a watch:</label>
                <select id="watch-select" onchange="validate()" disabled>
                    <option value="">-- Select a Watch --</option>
                </select>
                
                <div class="button-container">
                    <button onclick="event.stopPropagation(); hideSavePopup()" class="popup-btn red-btn">Cancel</button>
                    <button onclick="showWatchPopup()" class="popup-btn blue-btn">New Watch</button>
                    <button onclick="saveTime()" id="submit-btn" class="popup-btn green-btn" disabled>Save</button>
                </div>
            </div>
        </div>

        <div id="create-watch-popup" class="popup" style="display:none">
            <div class="popup-content">
                <label for="category-create">Choose a category:</label>
                <select id="category-create" onchange="loadSubcategories_p2(); validateNewWatch()">
                    <option value="">-- Select a Category --</option>
                </select>

                <label for="subcategory-create">Choose a subcategory (optional):</label>
                <select id="subcategory-create" disabled>
                    <option value="">-- Select a Subcategory --</option>
                </select>

                <label for="watch-name">Choose a name:</label>
                <input id="watch-name" type="text" placeholder="Enter watch name" oninput="validateNewWatch()" disabled/>
                </select>
                
                <div class="button-container">
                    <button onclick="hideWatchPopup()" class="popup-btn red-btn">Cancel</button>
                    <button onclick="showCategoryPopup()" class="popup-btn blue-btn">New Category</button>
                    <button onclick="createWatch()" id="submit-btn-2" class="popup-btn green-btn" disabled>Save</button>
                </div>
            </div>
        </div>

        <div id="new-category-popup" class="popup" style="display:none">
            <div class="popup-content">
                <label for="category-parent">Choose a parent:</label>
                <select id="category-parent">
                    <option value="null">No Parent</option>
                </select>

                <input id="category-name" type="text" placeholder="Name of Category" oninput="validateNewCat()">
                
                <div class="button-container">
                    <button onclick="hideCategoryPopup()" class="popup-btn red-btn">Cancel</button>
                    <button onclick="createCategory()" id="submit-btn-3" class="popup-btn green-btn" disabled>Save</button>
                </div>
            </div>
        </div>
        <script>
            window.sessionBackground = "{{background}}";
        </script>
        <script src="/static/stopwatch.js" defer></script>
    </body>
</html>