body {
    margin: 0;
    min-height: 100vh;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5) !important;
}

h1 {
    width: 100%;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.category-table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}

.category-table caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

th, td {
    padding: 5px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #555;
    font-size: 12px;
}

td {
    background-color: rgba(100, 100, 100, 0.5);
}

th {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}