.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 60%;
    width: 40%;
    display: flex;
    background: #1e1e1e;
    /* padding: 20px; */
    border-radius: 10px;
    /* width: 350px; */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    padding: 8px;
    margin: 10px 0;
    background: #333;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}

select:disabled{
    background: #222;
    color: #555;
}

.button-container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button {
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    /* transition: background 0.3s ease; */
    color: #ffffff;
    /* flex: 1; */
    /* margin: 0 2px; */
}

.green-btn {
    background: #2ecc2e;
}

.green-btn:disabled {
    background: #555;
    cursor: not-allowed;
}

.red-btn {
    background: #cc2e2e;
}
.blue-btn {
    background: #2e2ecc;
}

button:hover {
    opacity: 0.8;
}