#stopwatch {
    font-family: Futura;
    font-size: 96px;
    margin: auto;
    height: 55%;
    display: flex;
    justify-content: center;
}

#stopwatch span {
    align-self: flex-end;
}

#btn {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px;
}

a {
    all : unset;
    cursor : pointer;
}

#centi-secs {
    position: relative;
    bottom: 20px;
    left: 5px;
    font-family: Verdana;
    font-size: 24px;
}