body {
    background : #000000;
    color : #ffffff;
}

.authform {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 10px;
    justify-content: center;
    height: 40%;
    align-items: center;
}

.authform form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-error {
    position: relative;
    font-size : 16px;
    color: #bb0101;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

form .textfield {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

form .textfield:focus {
    border-color: #5aff34;
}

.actionbutton {
    position: relative;
    top: -5px;
    height: 40px;
    border: none;
    font-size: 16px;
}

.actionbutton {
    /* background: linear-gradient(to top, #278627, #000000, #278627); */
    background: #000000;
    color: #00c000;
    transition: 0.3s;
}

.actionbutton:hover {
    /* background: linear-gradient(to top, #000000, #278627, #000000); */
    color: #278627;
}

a {
    all : unset;
    cursor : pointer;
}

.logout {
    position: fixed;
    color: #278627;
    top: 0px;
    right: 10px;
    /* text-align: right; */
}