body::before {
    z-index: -1;
}

body {
    background : #000000;
    color : #ffffff;
}

.authform {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 10px;
    justify-content: center;
    height: 40%;
    align-items: center;
}

.authform form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-error {
    position: relative;
    font-size : 16px;
    color: #bb0101;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

form .textfield {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

form .textfield:focus {
    border-color: #5aff34;
}

.actionbutton {
    position: relative;
    top: -5px;
    height: 40px;
    border: none;
    font-size: 16px;
}

.actionbutton {
    background: #0000004c;
    color: white;
    text-shadow: 0px 0px 2px #2600c0;
    transition: 0.3s;
}

.actionbutton:hover {
    text-shadow: 0px 0px 2px #43c000; background: #0000006a;
}

a {
    all : unset;
    cursor : pointer;
}

/* .logout {
    position: fixed;
    top: 0px;
    right: 10px;
    transition: opacity 0.5s ease;
} */

.nav-link {
    position: fixed;
    top: 0px;
    right: 10px;
    transition: opacity 0.5s ease;
}

.wally-button {
    position: fixed;
    top: 0px;
    left: 10px;
    transition: opacity 0.5s ease;
}

.nav-link.inactive,
.logout.inactive,
.wally-button.inactive {
    pointer-events: none;
    opacity: 0;
    cursor: default;
    transition: opacity 0.5s ease;
}
